  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2A363B;
  }
  
  .link {
    display: inline-block;
    text-decoration: none;
    padding: 12;
    font-weight: 700;
    color: '#2A363B';
  }
  .activeLink {
text-shadow:  rgb(7, 134, 207) 3px 2px;
  }